{
    "singleQuote": true,
    "trailingComma": "all",
    "endOfLine": "lf",
    "printWidth": 100,
    "proseWrap": "preserve",
    "semi": true,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true
}
